{% extends "base.html" %}
{% block title %} - {{name}}{% endblock %}
{% block content %}
<div id="codeBlocks">
  <h5 style="margin-left: 16px;">Code Blocks</h5>
  <ul id="blocksCollapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><span class="badge">4</span><i class="material-icons">change_history</i>Basic</div>
      <div class="collapsible-body" style="padding: 0 0 0 2rem;">
        <ul class="collection">
          <li class="draggableBlock collection-item avatar" draggable="true" data-codetype="CONSOLE_OUT">
            <img class="square" src="/static/imgs/icon_terminal.png" />
            <span class="title">Console Output</span>
            <p>
              Output text in the console.
            </p>
          </li>
          <li class="draggableBlock collection-item avatar" draggable="true" data-codetype="CONSOLE_IN">
            <img class="square" src="/static/imgs/icon_terminal.png" />
            <span class="title">Console Input</span>
            <p>
              Input text in the console.
            </p>
          </li>
          <li class="draggableBlock collection-item avatar" draggable="true" data-codetype="VAR_SET">
            <img class="square" src="/static/imgs/var.png" />
            <span class="title">Store to Variable</span>
            <p>
              Store a value for later access.
            </p>
          </li>
          <li class="draggableBlock collection-item avatar" draggable="true" data-codetype="MATH">
            <img class="square" src="/static/imgs/var.png" />
            <span class="title">Math</span>
            <p>
              Basic Math Operations on two values.
            </p>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><span class="badge">3</span><i class="material-icons">call_split</i>Flow</div>
      <div class="collapsible-body" style="padding: 0 0 0 2rem;">
        <ul class="collection">
          <li class="draggableBlock collection-item avatar" draggable="true" data-codetype="WAIT">
            <img class="square" src="/static/imgs/pause.png" />
            <span class="title">Wait</span>
            <p>
              Wait for a specified amount of time.
            </p>
          </li>
          <li class="draggableBlock collection-item avatar" draggable="true" data-codetype="IF_ELSE">
            <img class="square" src="/static/imgs/icon_ifelse.png" />
            <span class="title">If/Else</span>
            <p>
              Follow different code branches depending on a condition.
            </p>
          </li>
          <li class="draggableBlock collection-item avatar" draggable="true" data-codetype="REPEAT">
            <img class="square" src="/static/imgs/loop.png" />
            <span class="title">Loop</span>
            <p>
              Repeat code as long as a condition is met.
            </p>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><span class="badge">2</span><i class="material-icons">settings_input_component</i>Hardware</div>
      <div class="collapsible-body" style="padding: 0 0 0 2rem;">
        <ul class="collection">
          <li class="draggableBlock collection-item avatar" draggable="true" data-codetype="GPIO_SET">
            <img class="square" src="/static/imgs/switch.png" />
            <span class="title">GPIO Switch</span>
            <p>
              Turn an output on or off.
            </p>
          </li>
          <li class="draggableBlock collection-item avatar" draggable="true" data-codetype="GPIO_WAIT">
            <img class="square" src="/static/imgs/play-pause.png" />
            <span class="title">Wait for GPIO</span>
            <p>
              Wait Until a port has a specified value.
            </p>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><span class="badge">1</span><i class="material-icons">panorama_fish_eye</i>Sensors</div>
      <div class="collapsible-body" style="padding: 0 0 0 2rem;">
        <ul class="collection">
          <li class="draggableBlock collection-item avatar" draggable="true" data-codetype="ULTRASONIC">
            <img class="square" src="/static/imgs/distance.png" />
            <span class="title">Ultrasonic</span>
            <p>
              Measure a distance.
            </p>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><span class="badge">2</span><i class="material-icons">settings</i>Advanced</div>
      <div class="collapsible-body" style="padding: 0 0 0 2rem;">
        <ul class="collection">
          <li class="draggableBlock collection-item avatar" draggable="true" data-codetype="GET_URL">
            <img class="square" src="/static/imgs/web.png" />
            <span class="title">Call URL</span>
            <p>
              Call a web URL.
            </p>
          </li>
          <li class="draggableBlock collection-item avatar" draggable="true" data-codetype="CODE">
            <img class="square" src="/static/imgs/python.png" />
            <span class="title">Python code</span>
            <p>
              Execute python code.
            </p>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
<div id="codeBuilder">
  <ul class="collection with-header">
    <li class="collection-header" id="varInsertPoint"><h5>Variables</h5></li>
    <li class="collection-item"><div>&nbsp;<span class="secondary-content"><i class="material-icons codeblock-headerbtn" id="addVarBtn">add</i></span></div></li>
  </ul>
  <div style="color: grey; text-align: center;">Drop code blocks into the striped areas.</div>
  <div class="codeblock" data-type="START">
    <div class="codeblock-header">
      <img src="/static/imgs/start.png" class="codeblock-icon">
      <span class="codeblock-title">Start</span>
    </div>
  </div>
  <div class="code-connector first next"></div>
  <div class="codeblock" data-type="END">
    <div class="codeblock-header">
      <img src="/static/imgs/end.png" class="codeblock-icon">
      <span class="codeblock-title">End</span>
    </div>
  </div>
</div>
<div class="console-wrapper">
  <div id="runInd" class="progress" style="position: fixed; right: 0; top: 64px; width: 400px; margin: 0; padding: 0;">
      <div class="indeterminate"></div>
  </div>
  <div style="text-align: right; padding-top: 16px; font-family: Roboto, sans-serif;">
    <button class="waves-effect waves-light btn small" id="saveBtn">save</button>
    <button class="waves-effect btn grey small" id="codeBtn"><i class="material-icons right">code</i>show code</button>
    <button class="waves-effect btn red small" id="runBtn"><i class="material-icons right">play_arrow</i>save &amp; run</button>
    <button class="waves-effect btn red small" id="stopBtn"><i class="material-icons right">stop</i>stop</button>
  </div>
  <div style="display: flex;">
    <h4 class="console-title" style="flex-grow: 1;">Console</h4>
    <button class="waves-effect btn-floating" style="align-self: center; margin-right: 16px;" id="helpConsole"><i class="material-icons">help</i></button>
    <button class="waves-effect btn-floating red darken-4" style="align-self: center;" id="clearConsole"><i class="material-icons">delete</i></button>
  </div>
  <div id="console">
    <ul class="browser-default" style="padding-left: 16px;">
      <li class="info">You can interact with your program here.</li>
      <li class="output">Output from your code will be green.</li>
      <li class="info">Use the "help" button to show this info again.</li>
      <li class="info">Use the "delete" button to remove all text in the console.</li>
    </ul>
  </div>
</div>
<div id ="cinContainer">
  <div class="input-field">
    <form id="cinForm">
      <input id="cin" type="text" placeholder="Input">
    </form>
  </div>
</div>
<div id="closeConsoleBtn">
  <button class="btn-floating waves-effect waves-light grey"><i class="material-icons">code</i></button>
</div>
<div id="modalVar" class="modal">
  <form id="varForm">
    <div class="modal-content">
      <h4>Edit Variable</h4>
      <input id="addVarInput" type="text" name="name" placeholder="Name">
    </div>
    <div class="modal-footer">
      <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Save</button>
      <button type="reset" class="modal-action modal-close waves-effect btn-flat">Cancel</button>
    </div>
  </form>
</div>
<script>
  window.program = {{programJson}}
  window.programName = "{{name}}"
</script>
<script src="/static/js/prism.min.js" data-manual></script>
<script src="/static/js/socketio.slim.min.js"></script>
<script src="/static/js/codeblocks.js"></script>
<script src="/static/js/builder.js"></script>
{% endblock %}
